<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>@ViewData["Title"] - CVUploader</title>
    <link rel="stylesheet" href="~/lib/bootstrap/dist/css/bootstrap.min.css" />
    <link rel="stylesheet" href="~/css/site.css" />
    <link rel="stylesheet" href="https://fonts.googleapis.com/css?family=Source+Sans+Pro:300,400,400i,700&display=fallback">
    <link rel="stylesheet" href="~/plugins/fontawesome-free/css/all.min.css">
    <link rel="stylesheet" href="~/dist/css/adminlte.css">
</head>
<body class="hold-transition sidebar-mini">
    <div class="wrapper">
        <!-- Navbar -->
        <nav class="main-header navbar navbar-expand navbar-dark bg-primary">
            <!-- Left navbar links -->
            <ul class="navbar-nav pl-4">
                <li class="nav-item">
                    <a asp-controller="Home" asp-action="Index" class="nav-link text-white">Home</a>
                </li>
            </ul>

            <!-- Right navbar links -->
            <ul class="navbar-nav ml-auto">
                <li class="nav-item">
                    <a class="nav-link text-white" asp-area="Identity" asp-page="/Account/Logout" asp-route-returnUrl="@Url.Action("Index", "Home", new { area = "" })">
                        <i class="fas fa-sign-out-alt"></i>
                    </a>
                </li>
                
            </ul>
        </nav>

        <aside class="main-sidebar sidebar-dark-primary">
            <a asp-controller="Home" asp-action="Index" class="brand-link" style="padding-left: 30px;">
                <img src="~/images/site/logo.png" alt="logo" width="140" class="pb-1" />
            </a>

            <!-- Sidebar -->
            <div class="sidebar">
                <nav class="mt-2">
                    <ul class="nav nav-pills nav-sidebar">
                        <li class="nav-item">
                            <a asp-controller="Dashboard" asp-action="Index" class="nav-link">
                                <i class="far fa-circle nav-icon"></i>
                                <p>Candidates</p>
                            </a>
                        </li>
                        <li class="nav-item">
                            <a asp-controller="Dashboard" asp-action="Create" class="nav-link">
                                <i class="far fa-circle nav-icon"></i>
                                <p>Add Candidate</p>
                            </a>
                        </li>
                        <li class="nav-item">
                            <a asp-area="Identity" asp-page="/Account/Register" class="nav-link">
                                <i class="far fa-circle nav-icon"></i>
                                <p>Add Member</p>
                            </a>
                        </li>
                    </ul>
                </nav>
            </div>
        </aside>

        <!-- Content Wrapper. Contains page content -->
        <div class="content-wrapper bg-light-gray p-5">
            <div class="">@RenderBody()</div>
            @*<main role="main" class="pb-3">

                </main>*@
        </div>

        <aside class="control-sidebar control-sidebar-dark">
        </aside>
    </div>
    <script src="~/lib/jquery/dist/jquery.min.js"></script>
    <script src="~/lib/bootstrap/dist/js/bootstrap.bundle.min.js"></script>
    <script src="~/dist/js/adminlte.min.js"></script>
    <script src="~/dist/js/demo.js"></script>
    <script src="~/js/site.js" asp-append-version="true"></script>
    @RenderSection("Scripts", required: false)
</body>
</html>
