@{
    ViewData["Title"] = "Home Page";
}


<div class="row align-items-center">
    <div class="col-md-4 col-12 order-2 order-lg-1">
        <div class="mt-5">
            <h1 class="text-purple" style="font-weight: 800;">Upload Your Resume.</h1>
            <p class="">Job hunting is usually frustrating, If you are seeking a job just upload your resume and let us handle the rest.</p>
            <a class="btn btn-primary py-3 px-5 rounded-pill bg-pink border-0"
                    asp-controller="Candidates" asp-action="Create">Get Started</a>
        </div>
    </div>
    <div class="col-md-8 order-1 order-lg-2 mt-5">
        <div>
            <img src="~/images/site/bg.jpg" class="w-100" alt="bg">
        </div>
    </div>
</div>



